@model List<CYS.Models.Hayvan>

<div class="modal fade" id="kt_modal_users_search" tabindex="-1" aria-hidden="true">
	<!--begin::Modal dialog-->
	<div class="modal-dialog modal-dialog-centered mw-650px">
		<!--begin::Modal content-->
		<div class="modal-content">
			<!--begin::Modal header-->
			<div class="modal-header pb-0 border-0 justify-content-end">
				<!--begin::Close-->
				<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
					<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
					<span class="svg-icon svg-icon-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
							<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
						</svg>
					</span>
					<!--end::Svg Icon-->
				</div>
				<!--end::Close-->
			</div>
			<!--begin::Modal header-->
			<!--begin::Modal body-->
			<div class="modal-body scroll-y mx-5 mx-xl-18 pt-0 pb-15">
				<!--begin::Content-->
				<div class="text-center mb-13">
					<h1 class="mb-3">Hayvan Ara</h1>
					<div class="text-muted fw-bold fs-5">Üst Soy Seçim Menüsü</div>
				</div>
				<!--end::Content-->
				<!--begin::Search-->
				<div id="kt_modal_users_search_handler" data-kt-search-keypress="true" data-kt-search-min-length="2" data-kt-search-enter="enter" data-kt-search-layout="inline">
					<!--begin::Form-->
					<form data-kt-search-element="form" class="w-100 position-relative mb-5" autocomplete="off">
						<!--begin::Hidden input(Added to disable form autocomplete)-->
						<input type="hidden" />
						<!--end::Hidden input-->
						<!--begin::Icon-->
						<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
						<span class="svg-icon svg-icon-2 svg-icon-lg-1 svg-icon-gray-500 position-absolute top-50 ms-5 translate-middle-y">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
								<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black" />
							</svg>
						</span>
						<!--end::Svg Icon-->
						<!--end::Icon-->
						<!--begin::Input-->
						<div hidden>
							<input type="text" id="idHayvanSoy" />
						</div>
					
					</form>
					<!--end::Form-->
					<!--begin::Wrapper-->
					<div class="py-5">
						<!--begin::Suggestions-->
						<div data-kt-search-element="suggestions">
							<!--begin::Heading-->
							<!--end::Heading-->
							<!--begin::Users-->
							<div class="mh-375px scroll-y me-n7 pe-7" id="">
								@{

									foreach (var item in Model)
									{
										string imgSrc = "";
										if (item.kategori != null)
										{
											var base64 = Convert.ToBase64String(item.kategori.resim);
											imgSrc = String.Format("data:image/gif;base64,{0}", base64);
										}
										<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="0">
											<!--begin::Details-->
											<div class="d-flex align-items-center">
												<!--begin::Checkbox-->
												<label class="form-check form-check-custom form-check-solid me-5">
													<input class="form-check-input chkHayvan" type="checkbox" name="users" data-kt-check="true" value="0" id='@item.id+"id"' onclick="hayvanSec(this)" />
												</label>
												<!--end::Checkbox-->
												<!--begin::Avatar-->
												<div class="symbol symbol-35px symbol-circle">
													<img alt="Pic" src=@imgSrc />
												</div>
												<!--end::Avatar-->
												<!--begin::Details-->
												<div class="ms-5">
													<a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">@item.kupeIsmi (@item.cinsiyet)</a>
													<div class="fw-bold text-muted">@item.rfidKodu</div>
												</div>
												<!--end::Details-->
											</div>
											<!--end::Details-->
											<!--begin::Access menu-->
											<div class="ms-2 w-100px">
												@*<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
										<option value="1">Guest</option>
										<option value="2" selected="selected">Owner</option>
										<option value="3">Can Edit</option>
										</select>*@
											</div>
											<!--end::Access menu-->
										</div>
									}
								}
								
							</div>
							<!--end::Users-->
							<div class="d-flex flex-center mt-15">
								<button type="reset" data-bs-dismiss="modal" class="btn btn-active-light me-3">İptal</button>
								<button type="button" onclick="ustSoyEkle();" class="btn btn-primary">Seçili Hayvanları Ekle</button>
							</div>
						</div>
						<!--end::Suggestions-->
						<!--begin::Results(add d-none to below element to hide the users list by default)-->
						<div data-kt-search-element="results" class="d-none">
							<!--begin::Users-->
							<div class="mh-375px scroll-y me-n7 pe-7" id="tumId">
								<!--begin::User-->
								@{
									foreach(var item in Model)
									{
										string imgSrc = "";
										if (item.kategori != null)
										{
											var base64 = Convert.ToBase64String(item.kategori.resim);
											imgSrc = String.Format("data:image/gif;base64,{0}", base64);
										}
										<div class="rounded d-flex flex-stack bg-active-lighten p-4" data-user-id="0">
											<!--begin::Details-->
											<div class="d-flex align-items-center">
												<!--begin::Checkbox-->
												<label class="form-check form-check-custom form-check-solid me-5">
													<input class="form-check-input chkHayvan" type="checkbox" name="users" data-kt-check="true" value="0" id='@item.id+"id"' onclick="hayvanSec(this)" />
												</label>
												<!--end::Checkbox-->
												<!--begin::Avatar-->
												<div class="symbol symbol-35px symbol-circle">
													<img alt="Pic" src=@imgSrc />
												</div>
												<!--end::Avatar-->
												<!--begin::Details-->
												<div class="ms-5">
													<a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">@item.kupeIsmi (@item.cinsiyet)</a>
													<div class="fw-bold text-muted">@item.rfidKodu</div>
												</div>
												<!--end::Details-->
											</div>
											<!--end::Details-->
											<!--begin::Access menu-->
											<div class="ms-2 w-100px">
												@*<select class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true">
										<option value="1">Guest</option>
										<option value="2" selected="selected">Owner</option>
										<option value="3">Can Edit</option>
										</select>*@
											</div>
											<!--end::Access menu-->
										</div>
									}
									
								}
								
								<!--end::User-->

							</div>
							<!--end::Users-->
							<!--begin::Actions-->
							
							<!--end::Actions-->
						</div>
						<!--end::Results-->
						<!--begin::Empty-->
						<!--end::Empty-->
					</div>
					<!--end::Wrapper-->
				</div>
				<!--end::Search-->
			</div>
			<!--end::Modal body-->
		</div>
		<!--end::Modal content-->
	</div>
	<!--end::Modal dialog-->
</div>

<script>
	function sonhayvanlar() {
		var e = document.getElementById("idHayvanSoy");
		ozellikDoldur(e.value);
	}

	function ozellikDoldur(id) {
		//tbl = document.getElementById('kt_datatable_zero_configuration');
		//$.ajax({
		//	url: "/Hayvan/son5Hayvan",
		//	dataType: "json",
		//	type: "POST",
			
		//	success: function (returnData) {
		//		var gelen = JSON.parse(returnData);

		//		for (let i = 0; i < gelen.length; i++) {
		//			son5Duzenle(gelen[i]);
		//			//tumHayvanlariDuzenle(gelen[i]);
		//		}

		//	}
		//});
	}



	function son5Duzenle(hayvan)
	{
		var ustDiv = document.getElementById("profileId");

		var a = document.createElement('a');
		a.classList.add("d-flex");
		a.classList.add("align-items-center");
		a.classList.add("p-3");
		a.classList.add("rounded");
		a.classList.add("bg-state-light");
		a.classList.add("bg-state-opacity-50");
		a.classList.add("mb-1");

		var picturediv = document.createElement('div');
		picturediv.classList.add("symbol");
		picturediv.classList.add("symbol-35px");
		picturediv.classList.add("symbol-circle");
		picturediv.classList.add("me-5");
		a.appendChild(picturediv);
		

		var resimElement = document.createElement('img');
		resimElement.alt = hayvan.kupeIsmi
		resimElement.src = 'data:image/png;base64,' +hayvan.kategori.resim;
		picturediv.appendChild(resimElement);

		var altDiv = document.createElement('div');
		altDiv.classList.add("fw-bold");

		a.appendChild(altDiv);
		var spanUst = document.createElement('span');
		spanUst.classList.add("fs-6");
		spanUst.classList.add("text-gray-800");
		spanUst.classList.add("me-2");
		spanUst.innerHTML = hayvan.kupeIsmi + " ("+ hayvan.kategori.kategoriAdi + " - " + hayvan.kategori.ustkategori.name + ")";

		var spanalt= document.createElement('span');
		spanalt.classList.add("badge");
		spanalt.classList.add("badge-light");
		spanalt.innerHTML = hayvan.rfidKodu;

		altDiv.appendChild(spanUst);
		altDiv.appendChild(spanalt);
		ustDiv.appendChild(a);

	}

	function hayvanSec(el)
	{
		var res = el.id.replace(/\D/g, "");
		var chckList = document.getElementsByClassName('chkHayvan');
		let count = 0;
		for (let i = 0; i < chckList.length; i++)
		{
			if(chckList[i].checked == true)
				count++;
		}
		if(count > 2)
		{
			Swal.fire({
				text: "Bir hayvanın ikiden fazla ebeveyni olamaz.",
				icon: "error",
				buttonsStyling: false,
				confirmButtonText: "Tamam!",
				customClass: {
					confirmButton: "btn btn-primary",
				}
			});
			el.checked = false;
		}

	}

	function ustSoyEkle()
	{
		var checkboxes = document.getElementsByClassName('chkHayvan');
		var checkboxesChecked = [];
		// loop over them all
		for (var i = 0; i < checkboxes.length; i++) {
			// And stick the checked ones onto an array...
			if (checkboxes[i].checked) {
				checkboxesChecked.push(checkboxes[i]);
				var res = checkboxes[i].id.replace(/\D/g, "");
						var e = document.getElementById("idHayvanSoy");

				$.ajax({
					url: "/Hayvan/ustSoyEkleJson",
					dataType: "json",
					type: "POST",
					data: {"ustHayvanId" : res, "hayvanId" : e.value},
					success: function (returnData) {

						

					}
				});
			}
		}
		Swal.fire({
			text: "Ekleme İşlemi Başarılı",
			icon: "success",
			buttonsStyling: false,
			confirmButtonText: "Tamamdır!",
			customClass: {
				confirmButton: "btn btn-primary",
			}
		});

	}
	
</script>
	

